* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.desktop .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}
.desktop .head .upload .upload-photo {
  border: solid 1px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0 0 0;
  width: 300px;
  height: 80px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  transition: 0.5s;
}
.desktop .head .upload .upload-photo:active {
  background-color: #ffffff;
}
.desktop .head .upload input {
  display: none;
}
.desktop .images {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 50px auto;
  padding: 10px;
  background-color: rgb(250, 250, 250);
  border: solid rgb(230, 230, 230);
}

.image {
  width: 150px;
  height: 150px;
  margin: 5px;
  background-color: #ffffff;
  border: solid rgb(230, 230, 230);
  position: relative;
}

.image-when-open {
  height: 99vh;
  width: 99vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
}

.image-dbleclick {
  opacity: 0.5;
  box-shadow: 0px 0px 5px black;
}

.img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.del {
  background: rgb(0, 100, 0);
  background: linear-gradient(90deg, rgb(100, 0, 0) 0%, rgb(150, 0, 0) 50%, rgb(255, 0, 0) 100%);
  position: absolute;
  color: white;
  width: 50px;
  height: 20px;
  border: none;
  border-radius: 5px;
  top: 2px;
  right: 2px;
  padding: 2px;
  cursor: pointer;
}

.del:hover {
  background-color: rgb(150, 0, 0);
  background: rgb(0, 50, 0);
  background: linear-gradient(90deg, rgb(50, 0, 0) 0%, rgb(100, 0, 0) 50%, rgb(190, 0, 0) 100%);
}

.open-image {
  background: rgb(0, 100, 0);
  background: linear-gradient(90deg, rgb(0, 100, 0) 0%, rgb(0, 150, 0) 50%, rgb(0, 255, 0) 100%);
  color: white;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 2px;
  cursor: pointer;
}

.open-image:hover {
  background: rgb(0, 50, 0);
  background: linear-gradient(90deg, rgb(0, 50, 0) 0%, rgb(0, 100, 0) 50%, rgb(0, 190, 0) 100%);
}

.close-image {
  background: rgb(0, 100, 100);
  background: linear-gradient(90deg, rgb(100, 100, 0) 0%, rgb(150, 150, 0) 50%, rgb(255, 255, 0) 100%);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 2px;
  cursor: pointer;
}

.close-image:hover {
  background: linear-gradient(90deg, rgb(50, 50, 0) 0%, rgb(100, 100, 0) 50%, rgb(190, 190, 0) 100%);
}

.delete-all {
  width: 100px;
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}

.redo {
  width: 50px;
  height: 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */